body {
    font-family: 'Press Start 2P', cursive;
    background-image: url("../img/burgerGiF.gif");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.ate {
    color: red;
}

button {
    color: green;
    font-family: 'Press Start 2P', cursive;
}

ul {
    list-style: none;
}